<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/4722571/pexels-photo-4722571.jpeg?auto=compress&cs=tinysrgb&w=800);">
  <div class="text-center">
    <p><span data-controller="typed-js"></span></p>
    <h1 class="title">Welcome to My list!</h1>
    <p>Take a popcorn bucket ! 🍿</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>

<div class="btn-container">
  <p class="m-3 btn btn-info btn-create">+ <%= link_to "Create list", new_list_path, class: 'link' %></p>
</div>

<div class="container">
  <div class="cards mt-3">
      <% @lists.each do |list| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : asset_path('https://images.pexels.com/photos/4722571/pexels-photo-4722571.jpeg?auto=compress&cs=tinysrgb&w=800') %>)">
          <h3 class="m-3"><%= link_to list.name, list_path(list) %></h3>
        </div>
      <% end %>
  </div>
</div>
