<h1 class="m-3">My list</h1>

<div>
  <% @lists.each do |list| %>
    <h3 class="m-3"><%= link_to list.name, list_path(list) %></h3>
  <% end %>
</div>

<p class="m-3">➕ <%= link_to "New", new_list_path %></p>
