<div class="container">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3709370/pexels-photo-3709370.jpeg?auto=compress&cs=tinysrgb&w=800);">
  <div class="m-3 text-center">
    <h2 class="list-name"><%=@list.name %></h2>
  </div>
</div>

  <div class="m-3 btn btn-success">
    <%= link_to "Back", root_path %>
  </div>
  <div class="m-3 btn btn-warning">
    <%= link_to 'delete', list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Let's go!" }, class: 'card-remove-link' %>
  </div>
</div>
