.btn-info:hover {
  text-decoration: underline;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.link {
  color: #333;
  text-decoration: none;
}

.link:hover {
  color: #333;
  text-decoration: none;
}

.navbar-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px;
  border-radius: 4px;
  z-index: 100;
}

.btn-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end
}
