// COLORS //
$safran: #f19a3e;
$background-color: #333;
$text-color: #ffffff;
$ligth: #F2F2F2;
$black: #151515;
$vert: #4e5726;
$cerise_noire: #523249;
$shadow: rgba(0,0,0,0.2);

// FONTS //
$font-family: 'Roboto', sans-serif;
